#MacOS
.DS_Store
Genome_ChangeLog/.DS_Store

#Xcode
Genome_ChangeLog/Genome_ChangeLog.xcodeproj/

#Other
code/map_test.cpp
build/
TetianaGenome_Project/
Genome_ChangeLog/

code/Genomes/libgenomes.a
code/test

# test
test_gitignore/
