# files that are re-generated for every build
code/Genomes/libgenomes.a

# IDE files
.vscode/

code/build/test
code/build/bench
code/build/logs/*

#MacOS
.DS_Store
code/.DS_Store
code/Genomes/.DS_Store
code/Test/.DS_Store
code/build/.DS_Store
